<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
      <div>
          <h3>Данные пользователя</h3>
          <ul>
            <li>Имя: {{friend.name}}</li>
            <li>Логин: {{friend.login}}</li>
            <li *ngIf="friend.type == 2">Забанен</li>
            <li *ngIf="friend.type == 1">Права: Админ</li>
          </ul>
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <button type="button" class="btn btn-primary" (click)="write()">Написать сообщение</button>
            <div *ngIf="isFriend; then is else isNot"></div>
            <ng-template #is>
              <button type="button" class="btn btn-danger" (click)="remove()">Удалить из друзей</button>
            </ng-template>
            <ng-template #isNot>
                <button type="button" class="btn btn-primary" (click)="add()">Добавить в друзья</button>
            </ng-template>
          </div>
      </div>
  </body>
</html>
