<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>
  <div class="page-header">
    <!-- тут вместо логина можно сделать роль пользователя в строку тип админ или обычный пользователь, а логин отобразить в другой строке, где данные -->
    <h1>Личный кабинет  <small>{{mainUser.login}}</small></h1>
  </div>
  <!-- не знаю как это будет, но либо это будет какой-то список либо все таки можно сделать так, если надо будет человеку. -->
  <div>
    <h3>Ваши данные</h3>
    <ul>
      <li>Имя: {{mainUser.name}}</li>
      <li>Логин: {{mainUser.login}}</li>
      <li *ngIf="mainUser.type == 2">Забанен</li>
      <li *ngIf="mainUser.type == 1">Права: Админ</li>
    </ul>
  </div>
  <hr>
  <div *ngIf="mainUser.type != 2">
    <div id="buttonChangeName">
      <button type="button" class="btn btn-outline-primary" (click)="openChangePasswordBlock('changeNameBlock', 'buttonChangeName')">Сменить имя</button>
    </div>
    <div id="changeNameBlock" style="display: none;">
      <input [(ngModel)]="newname" placeholder="Новое имя" form="data" type="text"/>
      <button type="button" class="btn btn-outline-primary" (click)="changeName()">Сменить</button>
      <div *ngIf="errorChangeName" class="alert alert-danger" role="alert">Ошибка смены имени</div>
    </div>
    <hr>
    <div id="buttonChangePassword">
      <button type="button" class="btn btn-outline-primary" (click)="openChangePasswordBlock('changePasswordBlock', 'buttonChangePassword')">Сменить пароль</button>
    </div>
  <div id="changePasswordBlock" style="display: none;">
    <input [(ngModel)]="oldpass" placeholder="Старый пароль" form="data" type="password"/>
    <input [(ngModel)]="newpass" placeholder="Новый пароль" form="data" type="password"/>
    <button type="button" class="btn btn-outline-primary" (click)="changePassword()">Сменить</button>
    <div *ngIf="errorChangePassword" class="alert alert-danger" role="alert">Неверный логин или пароль</div>
  </div>
  </div>
<hr>
<div>
  <div>
    <h4>Выберите период отображения сообщений.</h4>
    <div>Начало  <input [(ngModel)]="start" class="calendar-control" type="date" /></div>
    <div>Конец   <input [(ngModel)]="end" class="calendar-control" type="date" /></div>
  </div>
  <div>
    <button type="button" class="btn btn-outline-primary open-message-button" (click)="messages()">Отобразить отправленные сообщения</button>
  </div>
  <div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Текст:</th>
        <th scope="col">Когда отправлено:</th>
        <th scope="col">Чат</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let message of userMessages">
        <th>{{message.text}}</th>
        <th>{{message.date | date : "dd.MM.y"}}</th>
        <th><a routerLink="/chat-list/{{message.chatId}}">Чат</a></th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
  <div *ngIf="mainUser.type == 1">
    <h3>Список всех пользователей</h3>
    <button type="button" class="btn btn-primary btn-sm" (click)="reloadUsersList()"><span class="glyphicon glyphicon-refresh"></span></button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Имя</th>
          <th scope="col">Логин</th>
          <th scope="col">Права</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th>{{user.name}}</th>
          <th>{{user.login}}</th>
          <th>{{getUserType(user.type)}}</th>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
