<h1>Тут будет chat.name</h1>
<div class="chat">

    <div class="container">
        <img src="" alt="Avatar">
        <p>Текст сообщения</p>
        <span class="time-right">время</span>
    </div>
    
    <!-- <div class="container darker">
        <img src="" alt="Avatar" class="right">
        <p>Hey! I'm fine. Thanks for asking!</p>
        <span class="time-left">11:01</span>
    </div>

    <div class="container">
        <img src="/w3images/bandmember.jpg" alt="Avatar">
        <p>Sweet! So, what do you wanna do today?</p>
        <span class="time-right">11:02</span>
    </div> -->
</div>
<div>
    <form action="#">
        <div id="input-box"></div>
    </form>
    <button type="button" class="btn btn-outline-dark" (click)="sendMessage()">Отправить</button>
</div>
